<div class="container">
    <div class="row d-flex flex-column align-items-center">
        <div class="d-flex align-items-center justify-content-between w-50 my-4">
            <h1>Toys</h1>
            <%= link_to "List a Toy", new_toy_path, class: "btn btn-primary" %>
        </div>
        <hr class="w-50">
    </div>
    <div class="row d-flex flex-column align-items-center">
        <%= render @toys %>
    </div>
</div>