<div class="container">
<div class="row d-flex justify-content-center mt-4">
<div class="col-8">
    <div class="row">
        <h1 class="col mb-4 offset-3">New toy</h1>
    </div>
    <%= render "form", toy: @toy %>
</div>
</div>
</div>
