<% if form.object.errors.any? %>
    <div class="col-6 alert alert-danger offset-3 pe-0">
        <% form.object.errors.full_messages.each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>
<% end %>